<html>
<head>
{% load staticfiles %}
<meta charset="UTF-8">
<script type="text/javascript" src={% static "jquery-2.0.0.min.js" %}></script>
<script type="text/javascript" src={% static "jquery-ui" %}></script>
<link href={% static "bootstrap-combined.min.css" %} rel="stylesheet" media="screen">
<script type="text/javascript" src={% static "bootstrap.min.js" %}></script>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span4">
				</div>
				<div class="span4">
					<h3>
						学生首页
					</h3>
				</div>
				<div class="span4">
				</div>
			</div>
			<div class="row-fluid">
				<div class="span2">
                    <ul class="nav nav-list">
                        <li>
                            <a href="{% url 'home' 0 %}">消息一览</a>
                        </li>
                        <li>
                            <a href="{% url 'msg' %}">订阅消息</a>
                        </li>
                        <li class="active">
                            <a href="{% url 'favorite' %}">我的订阅</a>
                        </li>
                        <li>
                            <a href="{% url 'date' %}">预约情况</a>
                        </li>
                    </ul>
                </div>
				<div class="span1">
				</div>
				<div class="span6">
                    {% for teacher in teachers %}
                        <h2>
                            <a href="{% url 'teacher' teacher.id %}"> {{ teacher.name }} </a>
                        </h2>
                    {% endfor %}
				</div>
				<div class="span3">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>