<html>
<head>
<meta charset="utf-8"/>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-ui"></script>
<link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" id="MD">
	<div class="row-fluid">
		<div class="span4">
		</div>
		<div class="span4">
			<h3>
				学生首页
			</h3>
			<p>
				<embed height="0" id="xunlei_com_thunder_helper_plugin_d462f475-c18e-46be-bd10-327458d045bd" type="application/thunder_download_plugin" width="0" />
			</p>
		</div>
		<div class="span4">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">首页</a>
				</li>
				<li>
					<a href="#">资料</a>
				</li>
				<li class="disabled">
					<a href="#">信息</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-list">
				<li class="active">
					<a href="#">我的关注</a>
				</li>
				<li>
					<a href="#">预约情况</a>
				</li>
				<li>
					<a href="#">教师日程</a>
				</li>
			</ul>
		</div>
		<div class="span1">
		</div>
		<div class="span6">
            {% for message in messages %}
			<p>
				{{ message.teacher.name }}:
			</p>
			<p>
				{{ message.content }}
			</p>
			<p>
				发表于:{{ message.datetime }}
			</p>
                <br>
            {% endfor %}
		</div>
		<div class="span3">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
		</div>
		<div class="span4">
			<div class="pagination pagination-small">
				<ul>
					<li>
						<a href="#">上一页</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">下一页</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="span4">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
		</div>
		<div class="span4">
			<strong>Contanct with us:</strong>
			<strong>Email:zhaoxihang@gmail.com</strong>
		</div>
		<div class="span4">
		</div>
	</div>
</div>
</body>
</html>